<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="content-heading">
  Indicador
    <small></small>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
      <div class="panel-title">Ambiental y Geotécnico</div>
  </div>
  <div class="panel-body">
     <form class="form-horizontal" [formGroup]="formBuscar" (submit)="submitFormAmbiental($event, formBuscar.value)"  >
		<div class="row">
     		<div class="col-sm-4">
     			<div class="form-group">   
     				<label class="col-sm-4">Desde</label>  				
     				<div class="col-sm-8">
                        <input class="form-control input-sm" type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'MM/YYYY' }" formControlName="desde" [formControl]="formBuscar.controls['desde']" />
                        <span class="text-danger" *ngIf="formBuscar.controls['desde'].hasError('date') && (formBuscar.controls['desde'].dirty || formBuscar.controls['desde'].touched)">Fecha erronea</span>
     				</div>
     			</div>
     		</div>
     		<div class="col-sm-4">
     			<div class="form-group">   
     				<label class="col-sm-4">Hasta</label>  				
     				<div class="col-sm-8">
                        <input class="form-control input-sm" type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'MM/YYYY' }" formControlName="hasta" [formControl]="formBuscar.controls['hasta']" />
                        <span class="text-danger" *ngIf="formBuscar.controls['hasta'].hasError('date') && (formBuscar.controls['hasta'].dirty || formBuscar.controls['hasta'].touched)">Fecha erronea</span>
     				</div>
     			</div>
     		</div>


     		<div class="col-sm-4">
     			<div class="form-group">  
     				<label class="col-sm-4">Categoría</label>  			
     				<div class="col-sm-8">	   				
				     	<ng-select                                
				                bindLabel="name"
				                bindValue="value"
				                [items]="categoria_observacion"
				                [multiple]="false"
				                [closeOnSelect]="true"
				                placeholder="Seleccionar "
				                formControlName="categoria_observacion" 
				                [formControl]="formBuscar.controls['categoria_observacion']"
                                (change)="onSelectCategoria($event)"
				            >
				        </ng-select> 
				    </div>
     			</div>
     		</div>
     	</div>

     	<div class="row">
     		<div class="col-sm-6">
     			<div class="form-group">  
     				<label class="col-sm-4">Comunidad</label>  		
     				<div class="col-sm-8">	   				   				
				     	<ng-select                                
				                bindLabel="com_nombre"
				                bindValue="com_id"
				                [items]="comunidades"
				                [multiple]="true"
				                [closeOnSelect]="false"
				                placeholder="Seleccionar "
				                formControlName="comunidad" 
				                [formControl]="formBuscar.controls['comunidad']"
				            >
				        </ng-select> 
				    </div>
     			</div>
     		</div>

     		<div class="col-sm-6">
     			<div class="form-group">  
     				<label class="col-sm-4">Tipo</label>  		
     				<div class="col-sm-8">	   				
				     	<ng-select                                
				                bindLabel="tipo_observacion"
				                bindValue="tipo_observacion"
				                [items]="tipo_observacion"
				                [multiple]="true"
				                [closeOnSelect]="false"
				                placeholder="Seleccionar "
				                formControlName="tipo_observacion" 
				                [formControl]="formBuscar.controls['tipo_observacion']"
				            >
				        </ng-select> 
				    </div>
     			</div>
     		</div>
     	</div>
     	<div class="form-group">
            <div class="col-sm-6">

                <div class="ball-clip-rotate" style="height:20px;float:left;" [ngClass]="{hidden : formLoading !== true }">
                    <div></div>
                </div>
                <!--<button [disabled]="formLoading"  form="idFormBuscarAmbiental" class="btn btn-primary">Buscar</button>-->
                <button [disabled]="formLoading"  type="submit" class="btn btn-primary">Buscar</button>
            </div>
     	</div>
     </form>
    <hr>

    <div class="row">
        <div class="col-sm-4" >
            <div class="row">
                <div class="col-sm-12" style="min-height: 500px;">
                    <ngx-charts-pie-chart
                      [scheme]="colorScheme"
                      [results]="pie"
                      [legend]="false"
                      [explodeSlices]="explodeSlices"
                      [labels]="showLabels"
                      [doughnut]="doughnut"
                      [gradient]="gradient"
                      (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-8">            
          <ngx-datatable
            class="bootstrap ngx-datatable fixed-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [reorderable]="reorderable">
          </ngx-datatable>
        </div>
    </div>  
    <div class="row">
                <div class="col-sm-12 " style="min-height: 300px;">
                    <ngx-charts-bar-vertical-stacked
                      [scheme]="colorScheme"
                      [results]="multi"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>     
            <div class="row">
                <div class="col-sm-12" style="min-height: 300px;">                
                    <ngx-charts-bar-vertical-stacked
                      [scheme]="colorScheme"
                      [results]="single"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>     
            <div class="row">
                <div class="col-sm-12" style="min-height: 300px;">                                
                    <ngx-charts-bar-vertical-stacked
                      [scheme]="colorScheme"
                      [results]="multiComunidad"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>     
  </div>
</div>



