<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="content-heading">
	Usuario
    <small></small>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>Editar</legend>
                        </fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">Nombre es obligatorio</span>
                                <span class="text-danger" *ngIf="valForm.controls['name'].hasError('pattern') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">Solo se aceptan letras</span>
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Apellido</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" formControlName="surname" [formControl]="valForm.controls['surname']" />
                                <span class="text-danger" *ngIf="valForm.controls['surname'].hasError('required') && (valForm.controls['surname'].dirty || valForm.controls['surname'].touched)">Apellido es obligatorio</span>
                                <span class="text-danger" *ngIf="valForm.controls['surname'].hasError('pattern') && (valForm.controls['surname'].dirty || valForm.controls['surname'].touched)">Solo se aceptan letras</span>
                            </div>
                            <div class="col-sm-4">
                                <small class="text-muted">required</small>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-center">
                        <div class="row">
                            <div class="col-sm-8 control-label">
                                <button class="btn btn-info" type="submit" [ngClass]="{disabled : formLoading === true }">Guardar</button>
                            </div>
                            <div class="col-sm-4 control-label">
                                <span class="ball-clip-rotate" style="float:left;" [ngClass]="{hidden : formLoading !== true }">
                                    <div></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
    <!-- END row-->

</div>
